.title {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
  text-align: center;

  .tagline{
    color: var(--grey--500);
    margin-bottom: 4px;
  }
  h2{
    margin-bottom: 8px;
  }
  p{
    color: var(--grey--600);
    max-width: 320px;
    &.hidden{
      display: none;
    }
  }
  margin-bottom: 64px;
}

.card_list{
  margin-top: 42px;
  padding: 0 32px;
}

