.container{
  display: flex; 
  align-items: center;
  margin-bottom: 16px;
  padding: 4px 0;
  cursor: pointer;

  h3{
    color: var(--grey--800);
    margin-left: 24px;
  }

  &:active{
    background: var(--grey--300);
  }
}