.wrapper{
  margin-right: 8px;
  &:nth-child(1){
    margin-left: 32px; 
  }
}

.cover{
  background: var(--grey--400);
  width: 160px;
  height: 90px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(10, 53, 137, 0.06), 0px 4px 12px rgba(8, 33, 73, 0.15);

  &.large{
    width: 190px;
    height: 107px;
  }
}

.text{
  margin-top: 10px;

  h4, p{
    text-overflow: ellipsis;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
  }

  p{
    line-height: 14px;
    margin-top: 2px;
    color: var(--grey--600);
  }

}