.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  .cta{
    width: 243px;
    height: 44px;
    background: var(--grey--900);
    border-radius: 56px;
    margin-top: 24px;
    color: var(--grey--100);
    //styleName: body/regular;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 24px;
    border: none;
    color: white;

    &:hover{
      background-color: var(--grey--800);
    }

    &.disabled{
      cursor: not-allowed;
      pointer-events: none;
      background: var(--grey--400);
      color: var(--grey--500) !important;
    }
  }
}

.inputGroup{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  label{
    color: var(--grey--600);
    margin-bottom: 8px;
  }
}

.field{
  position: relative;
  display: flex;
  font-family: Rubik;
  width: 100%;
  height: 41px;
  border-radius: 8px;
  border: 1px solid var(--grey--500);
  padding: 4px 16px;
  -webkit-appearance: none;

  &:focus{
    outline: none;
    border: 1px solid var(--blue--500);
    box-shadow: 0px 0px 2px var(--blue--500);
  }
}

.buttonLink{
  color: var(--blue--500);
}

.error{
  color: var(--red--500);
  margin-top: 4px;
}

.btnPassword{
  position: absolute;
  width: 50px;
  height: 24px;
  padding: none;
  right: 2px;
  border: none;
}

.passwordFieldGroup{
  display: flex;
  align-items: center;
  position: relative;
}

.light{
  color: var(--grey--500)
}
.forgotPass{
  display: inline-block;
  position: absolute;
  right: 0;
}

.correoUsado{
  color: var(--red--500);
  margin-top: 4px;
}

.is{
  margin-top: px;
  display: inline-block;
}