.wrapper{
  display: flex;
  flex-direction: column;
}

.opcion{
  background-color: var(--grey--100);
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 12px 8px;
  min-height: 50px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

  margin-bottom: 14px;
  transform: scaleY(1);
  transform-origin: top;

  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;

  &:last-of-type{
    margin-bottom: 0;
  }

  &.correcta, &.incorrecta{
    opacity: 0.4;
    pointer-events: none;
  }

  &.correcta{
    opacity: 1;
    color: var(--grey--100);
    background-color: var(--green--500);
  }
  &.incorrecta{
    transform: scale(0.95);
    // background-color: var(--red--500);
  }

  span{
    pointer-events: none;
  }
}

.opcion:active{
  background: var(--grey--300);
}