.wrapper{
  overflow: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  z-index: 4;
  background: #424B59;
  background-image: url('/assets/bg.svg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 100% auto;

  transition: ease-in-out all 0.5s;
  -webkit-transition: ease-in-out all 0.5s;
  -moz-transition: ease-in-out all 0.5s;

  margin-top: 24px;
  border-radius: 32px 32px 0 0;
  padding: 32px;
  box-shadow: 0px -3px 2px rgba(61, 71, 85, 0.19), 0px 1px 18px 12px rgba(112, 122, 169, 0.25);

  text-align: center;

  &.abierta{
    top: 0%;
  }

}

.shadow{
  position: fixed;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 60px;
  z-index:6;
  pointer-events: none;
  box-shadow: inset 0px 20px 19px 5px rgba(66, 75, 89, 1);
  border-radius: 60px;


  &.abierta{
    top: 24px;
  }
}

.text{
  margin: 47px 0px 24px 0px;

  h3{
    color: var(--grey--100);
  }

  span{
    display: block;
    margin-bottom: 14px;
    color: var(--grey--100);
    font-weight: 100;
  }
}

.retroalimentacion{
  text-align: justify;
  color: var(--grey--500);
  margin-top: 32px;

  p{
    line-height: 18px;
  }
}

.siguiente_btn{
  margin: 32px 0 100px 0;
  background: var(--grey--100);
  color: var(--grey--900);
  border: none;
  padding: 4px 14px;
  border-radius: 36px;

  img{
    margin-left: 12px;
  }

  filter: drop-shadow(0px 5px 0px var(--grey--900));

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.siguiente_btn:active{
  background-color: var(--grey--400);
  transform: translateY(-4px);
  margin-top: 40px;
  filter:none;
}

.feedbackWrapper{
  opacity: 1;
  position: relative;
  
  transition: height 0s linear 0s, position 1s ease-in-out 0s, opacity 0.6s ease-in-out 0.5s;
  -webkit-transition: height 0s linear 0s, position 1s ease-in-out 0s, opacity 0.6s ease-in-out 0.5s;
  -moz-transition: height 0s linear 0s, position 1s ease-in-out 0s, opacity 0.6s ease-in-out 0.5s;

  &.hideFb{
    opacity: 0;
    position: absolute;
    height: 0;
    overflow: hidden;
  }
}
