.wrapper{
  display: flex;
  height: 14px;
  width: 100%;
  flex: auto;
  background: var(--grey--900)
}

.tab{
  height: 14px;
  width: 100%;
  border-radius: 14px;
  background: #2D3A57;
  margin-right: 8px;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;

  &:last-of-type{
    margin-right: 0px;
  }

  &.correcta{
    background: var(--green--500);
  }
  &.incorrecta{
    background: var(--red--500);
  }
}